/* _variabled.scss */
/* _가 붙은 scss 파일은 변수만을 저장하는 파일로 인식된다. */

// custom property 활용(font-size)
$font08: --font-size-08;
$font07: --font-size-07;
$font06: --font-size-06;
$font05: --font-size-05;
$font04: --font-size-04;
$font03: --font-size-03;
$font02: --font-size-02;
$font01: --font-size-01;
$font00: --font-size-00;

// font 컬러
$font-color-01: #666;
$font-color-02: #999;
$font-color-03: #004e5a;
$font-color-04: #006f80;
$font-color-05: #222;
$font-color-red: #e53e30;

// border 컬러
$border-color-01: #ebebeb;
$border-color-02: #222;

// background 컬러
$background-color-01: #fff;
$background-color-02: #222;

/*반응형 화면 크기*/
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;


/*반응형, 브라우저 크기가 767px 이하일때*/
@mixin mobile{
    @media (max-width: $mobile){
      @content;
    }
  }
  
  /*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
  @mixin tablet{
    @media (min-width: $mobile+1) and (max-width: $tablet){
      @content;
    }
  }
  
  /*반응형, 브라우저 크기가 1024px 이상일때*/
  @mixin desktop{
    @media (min-width: $desktop){
      @content;
    }
  }
  