@charset "UTF-8";
/* 변수 선언 가능 */
/* code 부분 */
pre.code {
  display: block;
  position: relative;
  z-index: 0;
  margin: 1rem 0 2rem;
  padding: 1rem 2.5rem 1rem 1rem;
  background-color: #f2f1f1;
}
pre.code code {
  padding: 0;
  background: none;
  color: #1b1b1b;
}
pre.code code .element {
  color: #872bff;
}
pre.code code .key {
  color: #d30038;
}
pre.code .hidden {
  display: block;
  overflow: hidden;
  position: relative;
  left: -1px;
  top: -1px;
  z-index: -999;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
}
pre.code .btn_copy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  border: solid 1px #000;
  border-radius: 5px;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.1);
}

/* //code 부분 */
.font-color-01 {
  color: #666;
}

.font-color-02 {
  color: #999;
}

.font-color-03 {
  color: #004e5a;
}

.font-color-04 {
  color: #666;
}

.font-color-red {
  color: #e53e30;
  font-weight: 700;
}

.title-01 {
  font-size: 70px;
  color: #666;
}

.title-02 {
  font-size: 60px;
  color: #999;
}

.title-03 {
  font-size: 45px;
  color: #004e5a;
}

.title-04 {
  font-size: 45px;
  color: #006f80;
  font-weight: 700;
}

.title-05 {
  font-size: 32px;
  color: #e53e30;
  font-weight: 700;
}

.title-06 {
  font-size: 30px;
  color: #666;
  font-weight: 700;
}

.title-07 {
  font-size: 23px;
  color: #999;
  font-weight: 700;
}

.title-08 {
  font-size: 26px;
  color: #004e5a;
  font-weight: 400;
}

.title-09 {
  font-size: 20px;
  color: #006f80;
  font-weight: 500;
}

/* tab */
.tab-default {
  display: flex;
  position: relative;
  padding: 0 16px;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
}
.tab-default > button, .tab-default > a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  color: #999;
}
.tab-default > button.selected, .tab-default > a.selected {
  position: relative;
  color: #222;
}
.tab-default > .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #222;
}

.tab-fill {
  display: flex;
  position: relative;
  padding: 0 16px;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
}
.tab-fill > button, .tab-fill > a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  color: #999;
}
.tab-fill > button.selected, .tab-fill > a.selected {
  position: relative;
  color: #fff;
}
.tab-fill.tab-motion > button, .tab-fill.tab-motion > a {
  transition: color 0.5s;
}
.tab-fill.tab-motion > .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  background-color: #000;
}

/* //tab */