/* 변수 선언 가능 */

// font 컬러
$font-color-01: #666;
$font-color-02: #999;
$font-color-03: #004e5a;
$font-color-04: #006f80;
$font-color-05: #222;
$font-color-red: #e53e30;


// font 사이즈
$font-size-08: 70px;
$font-size-07: 60px;
$font-size-06: 45px;
$font-size-06: 45px;
$font-size-05: 32px;
$font-size-04: 30px;
$font-size-02: 23px;
$font-size-03: 26px;
$font-size-01: 20px;
$font-size-00: 14px;

// border 컬러
$border-color-01: #ebebeb;
$border-color-02: #222;

// background 컬러
$background-color-01: #fff;
$background-color-02: #222;

/* code 부분 */
pre.code {
    display:block;
    position:relative;
    z-index:0;
    margin: 1rem 0 2rem;
    padding: 1rem 2.5rem 1rem 1rem;
    background-color: #f2f1f1;

    code {
        padding: 0;
        background: none;
        color: #1b1b1b;
        .element{
            color:#872bff
        }
        .key{
            color:#d30038;
        }
    }
    .hidden{
        display:block; overflow:hidden; position:relative; left: -1px; top: -1px; z-index:-999; width:1px; height:1px; margin:0; padding:0; border:none;
    }
    .btn_copy{position:absolute; right:0; top:0; padding:10px; border:solid 1px #000; border-radius:5px; box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.1);}
}
/* //code 부분 */


.font-color-01{color:$font-color-01;}
.font-color-02{color:$font-color-02;}
.font-color-03{color:$font-color-03;}
.font-color-04{color:$font-color-01;}
.font-color-red{color:$font-color-red; font-weight: 700;}

.title-01{font-size:$font-size-08; color:$font-color-01;}
.title-02{font-size:$font-size-07; color:$font-color-02;}
.title-03{font-size:$font-size-06; color:$font-color-03;}
.title-04{font-size:$font-size-06; color:$font-color-04; font-weight: 700;}
.title-05{font-size:$font-size-05; color:$font-color-red; font-weight: 700;} 
.title-06{font-size:$font-size-04; color:$font-color-01; font-weight: 700;}
.title-07{font-size:$font-size-02; color:$font-color-02; font-weight: 700;}
.title-08{font-size:$font-size-03; color:$font-color-03; font-weight: 400;}
.title-09{font-size:$font-size-01; color:$font-color-04; font-weight: 500;}


/* tab */

// 탭 메뉴 공통사항
@mixin set-tab(){
    display: flex;
    position:relative;
    padding: 0 16px;
    border-bottom: 1px solid $border-color-01;
    background-color: $background-color-01;
}

// 탭 메뉴 - 버튼 공통사항
@mixin set-tab-btn(){
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    z-index:1;
    // flex: 1;
    padding: 12px;
    font-size: 14px;
    font-weight: 700;
    color: #999;
}

.tab-default{
    @include set-tab();
    & > button,
    & > a{
        @include set-tab-btn();
        &.selected{
            position: relative;
            color: $font-color-05;
        }
    }
    & > .bar{
        position:absolute; 
        left:0; 
        bottom:0;
        height:1px;
        background-color:$background-color-02;
    }
}

.tab-fill{
    @include set-tab();
    & > button,
    & > a{
        @include set-tab-btn();
        &.selected{
            position: relative;
            color: #fff;
        }
    }
    &.tab-motion > button,
    &.tab-motion > a{
        transition:color .5s;
    }
    &.tab-motion > .bar{
        position:absolute; 
        left:0; 
        bottom:0;
        z-index:0;
        height:100%;
        background-color:#000;
    }
}
/* //tab */