@charset "UTF-8";
/* code 부분 */
pre.code {
  display: block;
  position: relative;
  z-index: 0;
  margin: 1rem 0 2rem;
  padding: 1rem 2.5rem 1rem 1rem;
  background-color: #f2f1f1;
}
pre.code code {
  padding: 0;
  background: none;
  color: #1b1b1b;
}
pre.code code .element {
  color: #872bff;
}
pre.code code .key {
  color: #d30038;
}
pre.code .hidden {
  display: block;
  overflow: hidden;
  position: relative;
  left: -1px;
  top: -1px;
  z-index: -999;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
}
pre.code .btn_copy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  border: solid 1px #000;
  border-radius: 5px;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.1);
}

/* //code 부분 */
:root {
  --font-color-01: #666;
  --font-color-02: #999;
  --font-color-03: #004e5a;
  --font-color-04: #006f80;
  --font-color-05: #222;
  --font-color-red: #e53e30;
  --font-size-08: 70px;
  --font-size-07: 60px;
  --font-size-06: 45px;
  --font-size-06: 45px;
  --font-size-05: 32px;
  --font-size-04: 30px;
  --font-size-02: 23px;
  --font-size-03: 26px;
  --font-size-01: 20px;
  --font-size-00: 14px;
  --border-color-01: #ebebeb;
  --border-color-02: #222;
  --background-color-01: #fff;
  --background-color-02: #222;
}

.font-color-01 {
  color: var(--font-color-01, #666);
}

.font-color-02 {
  color: var(--font-color-02, #999);
}

.font-color-03 {
  color: var(--font-color-03, #004e5a);
}

.font-color-04 {
  color: var(--font-color-01, #006f80);
}

.font-color-red {
  color: var(--font-color-red, #e53e30);
  font-weight: 700;
}

.title-01 {
  font-size: var(--font-size-8, 70px);
  color: var(font-color-01, #666);
}

.title-02 {
  font-size: var(--font-size-7, 60px);
  color: var(font-color-02, #999);
}

.title-03 {
  font-size: var(--font-size-6, 45px);
  color: var(font-color-03, #004e5a);
}

.title-04 {
  font-size: var(--font-size-6, 45px);
  color: var(font-color-04, #006f80);
  font-weight: 700;
}

.title-05 {
  font-size: var(--font-size-5, 32px);
  color: var(font-color-red, #666);
  font-weight: 700;
}

.title-06 {
  font-size: var(--font-size-4, 30px);
  color: var(font-color-01, #666);
  font-weight: 700;
}

.title-07 {
  font-size: var(--font-size-2, 23px);
  color: var(font-color-02, #999);
  font-weight: 700;
}

.title-08 {
  font-size: var(--font-size-3, 26px);
  color: var(font-color-03, #004e5a);
  font-weight: 400;
}

.title-09 {
  font-size: var(--font-size-1, 20px);
  color: var(font-color-04, #006f80);
  font-weight: 500;
}

/* tab */
.tab-default {
  display: flex;
  position: relative;
  padding: 0 16px;
  border-bottom: 1px solid var(--border-color-01);
  background-color: var(--background-color-);
}
.tab-default > button, .tab-default > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-size: var(--font-size-00, 14px);
  color: var(--font-color-02, #999);
  font-weight: 700;
}
.tab-default > button.selected, .tab-default > a.selected {
  position: relative;
  color: var(--font-color-05);
}
.tab-default > .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--background-color-02);
}

.tab-fill {
  display: flex;
  position: relative;
  padding: 0 16px;
  border-bottom: 1px solid var(--border-color-01);
  background-color: var(--background-color-);
}
.tab-fill > button, .tab-fill > a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  color: #999;
}
.tab-fill > button.selected, .tab-fill > a.selected {
  position: relative;
  color: #fff;
}
.tab-fill.tab-motion > button, .tab-fill.tab-motion > a {
  transition: color 0.5s;
}
.tab-fill.tab-motion > .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  background-color: #000;
}

/* //tab */